/* Seletor universal */
/* *{
    border: 1px solid red;
} */
/* Seletor de texto */
/* h1{
    color: green;
} */

/* Seletor de classe */
/* .verde{
    color:green;
}
p.verde{
    color: green;
} */

/* Seletor de id */
/* #teste{
    color: red;
} */

/* Seletor de filho */

/* li>a{
    color: red;
    text-decoration: none;
} */

/* Seletor de descendente */
/* 
p a {
    color: green;
} */

/* Seletor de irmão adjacente */
/* h1+p{
    color: red;
} */

/* Seletor de irmão geral */

/* h1~p{
    color: blue;
} */

/* 
body{
    color: red;
    border: 1px solid blue;
} */

/* *************************************************** */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: url("../imagens/menu.png") no-repeat left bottom;
}

ul a:hover{
    background-position: right;}