/* Seletor universal */
/* *{
    border: 1px solid red;
} */
/* Seletor de texto */
/* h1{
    color: green;
} */

/* Seletor de classe */
/* .verde{
    color:green;
}
p.verde{
    color: green;
} */

/* Seletor de id */
/* #teste{
    color: red;
} */

/* Seletor de filho */

/* li>a{
    color: red;
    text-decoration: none;
} */

/* Seletor de descendente */
/* 
p a {
    color: green;
} */

/* Seletor de irmão adjacente */
/* h1+p{
    color: red;
} */

/* Seletor de irmão geral */

/* h1~p{
    color: blue;
} */

/* 
body{
    color: red;
    border: 1px solid blue;
} */

/* *************************************************** */
/* 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a{
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url("../imagens/menu.png") no-repeat left bottom;
}

ul a:hover{
    color: white;
    background-color: #f99200;
    background-position: right;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
    color: white;
    background-color: #f99200;
    background-position: right;
} */

/* *************************************************** */
/* ul#navegacao{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
    background: #159cb0 url("../imagens/fundo-horizontal.png") repeat-x;
    float: left;
}

ul li{
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url("../imagens/divisor.png") repeat-y ;
}
ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a{
    color: #085662;
    background: #44cade;
} */

/* *************************************************** */
/* 
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li{
    float: left;
    background: url("../imagens/aba-direita.png") no-repeat top right;
}

li a{
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url("../imagens/aba-esquerda.png") no-repeat top left;
    color: white;
}

ul a:hover{
    color: #894a1f;
}

ul #atual{
    background: url("../imagens/aba-direita-atual.png") no-repeat top right;

}
ul #atual a{
    background: url("../imagens/aba-esquerda-atual.png") no-repeat top left;

} */
/* *************************************************** */
body{
    background: #f2f2f2;
}

#container{
    width: 720px;
    margin: 0 auto;
    background: #fff;
}
#marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 520px;
    float: right;
}
#navegacao{
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}
#navegacao ul{
    list-style: none;
}
#navegacao li a{
    text-decoration: none;
}
#conteudo-principal{
    width: 320px;
    float: left;
}
#conteudo-secundario{
    width: 180px;
    float: right;
    background: #d1d1d1;
}
#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}