/* Seletor universal */
/* *{
    border: 1px solid red;
} */
/* Seletor de texto */
/* h1{
    color: green;
} */

/* Seletor de classe */
/* .verde{
    color:green;
}
p.verde{
    color: green;
} */

/* Seletor de id */
/* #teste{
    color: red;
} */

/* Seletor de filho */

/* li>a{
    color: red;
    text-decoration: none;
} */

/* Seletor de descendente */
/* 
p a {
    color: green;
} */

/* Seletor de irmão adjacente */
/* h1+p{
    color: red;
} */

/* Seletor de irmão geral */

/* h1~p{
    color: blue;
} */

/* 
body{
    color: red;
    border: 1px solid blue;
} */

