*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url("../imagens/fundo.png") repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    padding-top: 25px;
    background: url("../imagens/detalhe-topo.png") no-repeat right top;
    height: 150px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url("../imagens/logo.png");
    text-indent: -3000px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#topo ul {
    background: #b10333;
    float: left;
    margin-top: 30px;
}
#topo ul li{
    float: left;
}
#topo ul li a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url("../imagens/divisor.png") no-repeat left center;
}

#topo ul .primeiro a{
    background: none;
}
#topo ul a:hover{
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.fotos #navegacao a#fotos{
    color: white;
    background: #de003e;
    cursor: text;
}

#conteudo{
    background: #f5f5f5;
    margin-top: 60px;
}
#lateral{
    float: left;
    width: 180px;
    margin: 0 0 20px -750px;
}
#tres-colunas #primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}
#duas-colunas #primario{
    width: 555px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}
#uma-coluna #primario{
    width: 750px;
    float: left;
    margin: 0 0 20px 0px;
    background: blue;
}
#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    background: green;
}
.caixa{
    background: #f3f3f3 url("../imagens/fundo-caixa.png");
    margin: 10px 0;
    padding: 5px 0 5px 0;
}
h2{
    color: white;
    background: #294c71;
    font-size: 1em;
    padding: 5px;
}

.caixa-conteudo{
    background: white;
    padding: 5px;
    margin-top: 5px;
}
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border: 1px solid #f3f3f3;
}
#lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url("../imagens/marcador.png") no-repeat left center;
    padding-left: 20px;
}
label{
    display: block;
    cursor: pointer;
}
input{
    width: 125px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #fff;
}
input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
}
#container-rodape{
    clear: both;
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}