/* #caixa{
    width: 300px;
    height: 300px;
    background: #9bc941;
    padding: 50px;
    box-sizing: border-box;
}
.arredondamento{
    border-radius: 10px 50px 80px 100px;
} */
/* 
#caixa{
    width: 300px;
    height: 300px;
    background: radial-gradient(red, green, yellow, blue);
    background: linear-gradient(30deg, red, green, yellow, blue);
    background: url("../imagens/camera.png");
}
#caixa h1{
    background: rgba(255, 255, 255, 0.5);
} */
/* #caixa{
    width: 300px;
    height: 300px;
    padding: 8px;
    margin: 20px;
    background: #009670;
    box-shadow: 20px 20px 10px black;
}
#caixa h1 {
    color: white;
    text-shadow: 20px 20px black;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
} */

@keyframes animacao-caixa{
    from{
        background: red;
        border-radius: 0px;
    }
    to{
        border-radius: 300px;
        background: yellow;
    }
}

#caixa{
    width: 300px;
    height: 300px;
    /* animation-name: animacao-caixa;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: animacao-caixa 5s 3s 2 alternate;
}
